<h2 style="text-align:center">  Inventory Details</h2>
<table>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
  <tr>
  <th>Name</th>
  <th>Brand</th>
  <th>Price</th>
</tr>
</table>